<html>
    <head>
        <title><%= title %></title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
        <% if(typeof streamPage != 'undefined' && streamPage) { %>
            <script src="/stream/js/<%= streamName %>" type="text/javascript"></script>
            <script src="/static/flowplayer-3.2.6.min.js" type="text/javascript"></script>
        <% } %>
        <link rel="stylesheet/less" type="text/css" href="/static/bootstrap/less/bootstrap.less">
        <script src="/static/less-1.2.1.min.js"></script>
        <style type="text/css">
          body {
            padding-top: 60px;
            padding-bottom: 40px;
          }
          .sidebar-nav {
            padding: 9px 0;
          }
        </style>
    
        <!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->        
    </head>
    <body>
        <div class="container-fluid">
			<div class="row-fluid">
				<div class="span2">
					<div class="well sidebar-nav">
						<ul class="nav nav-list">
							<li class="nav-header">v4lweb</li>
							<li><a href="/">Home</a></li>
							<li><a href="/about">About</a></li>
							<li class="nav-header">Select a stream</li>
							<%
								if(typeof streamPage != 'undefined' && streamPage) {
									for(s in servers) {
							%>
										<li id="stream-<%=servers[s].name%>" 
							<%
										// assuming that streamName exists by necessity if we've gotten this far
										if(servers[s].name == streamName) {
							%>
											class="active"
							<%			} %>
											>
											<a href="/stream/view/<%=servers[s].name%>"><%=server[s].displayName%>
							<%
									}
								}
							%>
						</ul>
					</div>
				</div>	<!-- div.well.sidebar-nav -->
			<div class="span10">
