<%- partial("header.ejs") %>
		<h2><%= displayName %></h2>
		<p><%= description %></p>
		<div id="player_live" style="display:block; width: <%= width %>px; height: <%= height %>px;">
		</div>
<%- partial("footer.ejs") %>
